/* 나열 : inline-block, float */

#header {
  background-color: #ddd;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
}

#logo {
  font-size: 1.4rem;

  position: absolute;
  left: 10px;
  top: 50%;

  transform: translateY(-50%);
}

#gnb {
}

#gnbList {
  display: flex;
}

#gnbList li {
  width: 100px;
  text-align: center;
}

#gnbList li a {
}

#gnbList li a:hover {
  background-color: #bbb;
  color: #fff;
}

.banner {
  margin-top: 70px;
}

.banner h2 {
  text-align: center;
}

.bannerList {
  width: 450px;
  margin: 0 auto;
  margin-top: 40px;
}

.bannerList li {
  width: 32%;
  height: 200px;
  border: 3px solid black;
  float: left;
}

.bannerList li:nth-child(2) {
  margin: 0 2%;
}

.bannerList li {
  background: center / auto 100% no-repeat;
  transition: 0.25s;

  /* background-size: auto 100%; */
}

.bannerList li:first-child {
  background-image: url("/assets/yeji01.jpeg");
}
.bannerList li:nth-child(2) {
  background-image: url("/assets/yeji02.jpeg");
}
.bannerList li:last-child {
  background-image: url("/assets/yeji03.jpeg");
}

.bannerList li a {
  display: block;
  height: 100%;
}

.bannerList li:hover {
  background-size: auto 120%;
}

.btnChat {
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 50%;

  text-align: center;
  line-height: 50px;

  position: fixed;
  bottom: 30px;
  right: 30px;

  animation: slideUp 0.25s, fadeIn 1s;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  /* to {
    transform: translateY(0);
  } */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* 


*/

@keyframes show {
  from {
    max-height: 0;
  }
  to {
    max-height: 50px;
  }
}
