/* 나열 : inline-block, float */

#header {
  background-color: #ddd;
  position: relative;

  display: flex;
  justify-content: center;
}

#logo {
  font-size: 1.4rem;

  position: absolute;
  left: 10px;
  top: 50%;

  transform: translateY(-50%);
}

#gnb {
}

#gnbList {
  display: flex;
}

#gnbList li {
  width: 100px;
  text-align: center;
}

#gnbList li a {
  display: block;
  padding: 10px 0;
}

#gnbList li a:hover {
  background-color: #bbb;
  color: #fff;
}

.banner {
  margin-top: 70px;
}

.banner h2 {
  text-align: center;
}

.bannerList {
  display: flex;
  justify-content: center;
}

.bannerList li {
  border: 3px solid black;
}
.bannerList li a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 190px;

  overflow: hidden;
}

.bannerList li a:hover img {
  height: 120%;
}

.bannerList li img {
  height: 100%;

  transition: 0.25s;
}

.bannerList li:nth-of-type(2) {
  margin: 0 10px;
}

.btnChat {
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 50%;

  text-align: center;
  line-height: 50px;

  position: fixed;
  bottom: 30px;
  right: 30px;

  animation: slideUp 0.25s, fadeIn 1s;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  /* to {
    transform: translateY(0);
  } */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* 


*/

@keyframes show {
  from {
    max-height: 0;
  }
  to {
    max-height: 50px;
  }
}
